{
  padding: 0px;
  margin: 0px;
}

body{
  height: 100%;
  width: 100%;
}
header{
  height: 100px;
  width: 300px;
  margin: 10px;
  background-color: #fff;
}
header h1 a{
  display: block;
}
a: webkit-any-link{
  color: -webkit-link;
  cursor: pointer;
}
header .mse_logo{
  display: block;
  overflow: hidden;
  width: 250px;
  height: 148px;
  text-indent: 101%;
  white-space: nowrap;
  margin-left: 220px;
  margin-top: 80px;
  background-position: -4px -4px;
  background-image: linear-gradient(transparent, transparent) ,url("image/logo.jpg");
  background-repeat: no-repeat;
  background-size: 250px 100px;
}
.login_box{
  height: 35px;
  width: 800px;
  position: absolute;
  top: 15px;
  left: 1000px;
  right: 0px;
  background-color: #ffffff;
}
.login_input{
  margin: 5px;
  font-family: sans-serif;
}
.login_btn{
  cursor: pointer;
}
#register{
  font: Arial;
  font-size: 15px;
  text-decoration: none;
  color: #4f4f4f;
}
.search_main {
  overflow: hidden;
  height: 570px;
  margin: 20px 10px;
}
.search_main .inp {
    float: left;
    width: 210px;
    height: 22px;
    padding: 0 6px;
    border: 1px solid #bfbfbf;
    border-right: 0;
    font-size: 12px;
}
.search_main .btn {
    width: 70px;
    height: 24px;
    margin: 0;
    border: 0 none;
    font-size: 12px;
    line-height: 13px;
    color: #fff;
    background-color: #096b9a;
    background: url("image/search_btnn.jpg");
    background-repeat: no-repeat;
    background-size: 35px 25px;
    text-align: center;
    cursor: pointer;
}
.counter{
  position: absolute;
  top: 850px;
  left: 160px;
}
.index_kor{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #6d6d6d;
  text-decoration: none;
  padding-right: 10px;
  border-right: 2px solid #6d6d6d;
}
.index_eng{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #6d6d6d;
  padding-left: 10px;
  text-decoration: none;
}
aside#left{
  width: 380px;
  height: 600px;
  margin-top: 0px;
  margin-left: 150px;
  float: left;
}

nav .nav_home{
  position: absolute;
  left: 300px;
  top: 0px;
  display: block;
  margin-left: 350px;
  width: 130px;
  height: 66px;
  line-height: 50px;
  padding-top: 130px;
}
nav .nav_home a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  width: 124px;
  text-align: bottom;
  text-align: center;
  padding-top: 140px;
  text-indent: 10px;
  color: #096b9a;
  text-decoration: none;
}
nav .nav_notice{
  position: absolute;
  left: 431px;
  top: 0px;
  display: block;
  margin-left: 350px;
  width: 130px;
  height: 66px;
  line-height: 50px;
  padding-top: 130px;
}
nav .nav_notice a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  width: 124px;
  text-align: bottom;
  text-align: center;
  padding-top: 140px;
  text-indent: 10px;
  color: #096b9a;
  text-decoration: none;
}
nav .nav_board{
  position: absolute;
  left: 562px;
  top: 0px;
  display: block;
  margin-left: 350px;
  width: 130px;
  height: 66px;
  line-height: 50px;
  padding-top: 130px;
}
nav .nav_board a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  width: 124px;
  text-align: bottom;
  text-align: center;
  padding-top: 140px;
  text-indent: 10px;
  color: #096b9a;
  text-decoration: none;
}
nav .nav_schedule{
  position: absolute;
  left: 693px;
  top: 0px;
  display: block;
  margin-left: 350px;
  width: 130px;
  height: 66px;
  line-height: 50px;
  padding-top: 130px;
}
nav .nav_schedule a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  width: 124px;
  text-align: bottom;
  text-align: center;
  padding-top: 140px;
  text-indent: 10px;
  color: #096b9a;
  text-decoration: none;
}
nav .nav_contact{
  position: absolute;
  left: 824px;
  top: 0px;
  display: block;
  margin-left: 350px;
  width: 130px;
  height: 66px;
  line-height: 50px;
  padding-top: 130px;
}
nav .nav_contact a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  width: 124px;
  text-align: bottom;
  text-align: center;
  padding-top: 140px;
  text-indent: 10px;
  color: #096b9a;
  text-decoration: none;
}
nav .nav_members{
  position: absolute;
  left: 955px;
  top: 0px;
  display: block;
  margin-left: 350px;
  width: 130px;
  height: 66px;
  line-height: 50px;
  padding-top: 130px;
}
nav .nav_members a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 0px;
  width: 124px;
  text-align: bottom;
  text-align: center;
  padding-top: 140px;
  text-indent: 10px;
  color: #096b9a;
  text-decoration: none;
}
nav .nav_home:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_home a:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_notice:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_notice a:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_board:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_board a:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_schedule:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_schedule a:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_contact:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_contact a:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_members:hover{
  background: #096b9a;
  color: #fff;
}
nav .nav_members a:hover{
  background: #096b9a;
  color: #fff;
}
nav a#active{
  background: #096b9a;
}
.main{
  float: left;
  width: 1140px;
  height: 1100px;
  margin: 0 0 0 0;
  margin-top: 6px;
  padding: 0px;
  background-color: #fff;
}
.blue{
  position: absolute;
  top: 252px;
  background-color: #096b9a;
  margin-left: 2px;
width: 250px;
height: 10px;
}
.small_title{
  font-size: 30px;
  margin-top: 55px;
  color: #4f4f4f;
  background-color: #fefefe;
  border-top: 1px solid #bbbbbb;
  margin-left: 36px;
  margin-right: 36px;
  padding-left:50px;
  padding-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.small_small_title{
  position: absolute;
  top: 280px;
  left: 828px;
  padding-left: 5px;
  line-height: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.back_bottom{
  margin-left: 37px;
  margin-bottom: 500px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #bbbbbb;
  width: 85%;
  height: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.background{
  position: absolute;
  top: 194px;
  z-index: -1;
  width: 1900px;
  height: 700px;
  border-top: 2px solid #efeded;
  background-image: linear-gradient(transparent, transparent) ,url("image/background.jpg");
  background-repeat: repeat-x;
  background-size: 1400px 600px;
}
.background_bottom{
  position: absolute;
  top: 796px;
  z-index: -1;
  width: 1900px;
  height: 600px;
  background-image: linear-gradient(transparent, transparent) ,url("image/background_bottom.jpg");
  background-repeat: repeat-x;
  background-size: 1400px 600px;
}
.diaryWrap {
    margin-left: 37px;
    margin-bottom: -10px;
    width: 85%;
    font-family: Arial, Helvetica, sans-serif, '돋움';
    background-color: #f8f8f8;
    padding-left: 50px;
    padding-right: 50px;
}
.diaryWrap form {
    display: block;
}
.diarySearch .diaryRight input {
    vertical-align: middle;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb !important;
}
.diarySearch .diaryRight input[type="hidden" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    border: initial;
    display: none;
}
.diarySearch .diaryRight input[type="image" i] {
    cursor: pointer;
    -webkit-appearance: initial;
    background-color: initial;
    border: initial;
}
.diaryWrap .diarySearch {
    padding: 3px 0;
    height: 20px;
}

.diaryWrap .diarySearch, .diaryContent, .diaryPage, .diaryButton {
    clear: both;
    width: 100%;
}
.diaryWrap th, td, select, textarea {
    font-size: 12px;
}
.diaryWrap div{
  font-size: 12px;
}
.diaryWrap input{
  font-size: 12px;
}
.diaryWrap .diaryLeft {
    float: left;
}
.diaryWrap .diaryRight {
    float: right;
}
select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 400 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
}
.diaryWrap .diaryContent {
    border-collapse: collapse;
}
.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}
table {
    display: table;
    border-color: grey;
}
.diaryWrap caption {
    display: none;
}
caption, legend {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    visibility: hidden;
    color: transparent;
}
caption {
    display: table-caption;
    text-align: -webkit-center;
}
colgroup {
    display: table-column-group;
}
col {
    display: table-column;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.diaryWrap .diaryContent .listHead {
    float: left;
    width: 14.079%;
    height: 20px;
    padding: 10px 0 3px 0;
    background-color: #f3f4f4;
    border: 1px solid #e2e2e2;
    border-top: 2px solid #dbdbdb;
    text-align: center;
    font-weight: bold;
}
.diaryWrap .diarySun {
    color: red;
}
.diaryWrap .diarySat {
    color: blue;
}
.diaryWrap .diaryContent .listBody {
    position: relative;
    float: left;
    width: 14.079%;
    height: 90px;
    overflow: hidden;
    padding: 3px 0;
    border: 1px solid #e2e2e2;
}
.diaryWrap .listDay {
    padding-left: 3px;
    width: 20px;
    text-align: left;
}
.diaryWrap .listData {
    padding-left: 3px;
    width: 95px;
    height: 50px;
    text-align: left;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.diaryWrap .diaryButton {
    padding: 3px 0;
}
.diaryWrap .diaryRight {
    float: right;
}
.diaryWrap a:link {
    text-decoration: none;
    color: #505050;
    background-color: transparent;
    cursor: pointer;
}
img {
   border: 0 none;
   margin: 0;
   padding: 0;
   vertical-align: top;
   line-height: normal;
}
div{
    display: inline-block;
}
.font-red{
    color: red;
}
.font-blue{
    color: blue;
}
.right{
    float: right;
}
.bottom{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.register.btn{
    width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: .7em;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    float: right;
    text-align: center;
}
.nav .btn{
    text-align: center;
    font-weight: bolder;
    color: skyblue;
}
.btn:hover{
    cursor: pointer;
}
#days{
  width: 100%;
}
.footer{
  background-color: #ededef;
  border-top: 1px solid #000;
  clear: both;
  text-align: left;
  margin-top: 1090px;
  width: 100%;
  height: 100px;
}
