.page_main {
    float: left;
    width: 100%;
    background-color: #fff;
}

.top_area {
    margin-top: 55px;
    margin-left: 36px;
    margin-right: 36px;
}
.post_type ul {
    list-style: none;
    text-align: left;
    padding: 0 50px 0 50px;
}
.post_type ul li {
    display: inline;
    list-style: none;
    font-size: 15px;
    border-right: 1px solid #096b9a;
    letter-spacing: 10px;
    margin-left: 30px;
}
.post_type ul li a {
    text-decoration: none;
    color: black;
    padding-right: 15px;
}
.post_type form {
    float: right;
    margin-left: 30px;
}
.post_type form button {
    cursor: pointer;
}