.left{
  float: left;
}
.right{
  float: right;
}
.active{
  font-weight: bold;
}


body{
  height: 100%;
  width: 100%;
  margin: 0;
}
header{
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #efeded;
}
a:webkit-any-link{
  color: -webkit-link;
  cursor: pointer;
}


header .login_box {
  width: 100%;
  height: 65px;
  display: block;
  text-align: right;
  font-size: 10px;
}
.login_box .login_input {
  font-family: sans-serif;
  width: 40%;
  padding: 20px;
}
.login_box .login_btn {
  cursor: pointer;
}


header .main_header {
  width: 75%;
  height: 150px;
  margin: auto;
}
header .logo_box{
  width: 300px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.logo_box .logo{
  width: 250px;
  height: 100px;
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 40px;
}


.navigation{
  width: 70%;
  margin: 0;
  padding: 0;
}
.navigation .menu{
  width: 13%;
  height: 150px;
  position: relative;
  display: inline-block;
  float: left;
  vertical-align: bottom;
}
.navigation .menu a{
  width: 100%;
  height: 220px;
  line-height: 350px;
  position: absolute;
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #096b9a;
  text-decoration: none;
  text-align: center;
}
.menu>a:hover{
  background: #096b9a;
  color: #fff;
}


nav {
    float: right;
    display: block;
    position: relative;
    margin-right: 50px;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 250px;
    padding: 240px 18px 0px 18px;
    text-align: center;
    text-indent: 10px;
    color: #096b9a;
    text-decoration: none;
}
nav a:hover {
    background: #096b9a;
    color: #fff;
}


header {
    display: block;
    position: relative;
    overflow: hidden;
}


.mse_logo {
    display: block;
    overflow: hidden;
    width: 250px;
    height: 148px;
    text-indent: 101%;
    white-space: nowrap;
    margin-left: 220px;
    margin-top: 80px;
    background-position: -4px -4px;
    background-image: linear-gradient(transparent, transparent) ,url("image/logo.jpg");
    background-repeat: no-repeat;
    background-size: 250px 100px;
}


aside#left{
    width: 20%;
    height: 600px;
    float: left;
}

.search {
    overflow: hidden;
}
.search_main {
    width: 100%;
}
.search_main .inp {
    float: left;
    width: 60%;
    height: 20px;
    font-size: 12px;
}
.search_main .btn {
    width: 70px;
    height: 20px;
    margin: 0;
    border: solid 1px;
    font-size: 12px;
    line-height: 13px;
    color: #096b9a;
    text-align: center;
    cursor: pointer;
    align-self: center;
}


.background {
    background-image: linear-gradient(transparent, transparent) ,url("image/background.jpg");
    background-repeat: repeat-x;
    background-size: 1400px 600px;
}


.content {
    padding: 20px 50px 50px 50px;
}


.top-area {
    overflow: hidden;
}
.bottom-area {
    overflow: hidden;
}
.photo {
    float: left;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.galleryContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
}
.galleryContainer .slideShowContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img {
    width: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText {
    display: none;
}
.galleryContainer .slideShowContainer>.captionTextHolder {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText {
    margin: 0;
}
.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow {
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow {
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover {
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow {
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft {
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight {
    transform: rotateZ(45deg);
}


.box{
    float: left;
    display: block;
    width: 30%;
    height: 400px;
    margin: 10px;
    padding: 3px;
    color: #fff;
    background: #e7e7e5;
}
.box_title{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    background-color: #096b9a;
  }
.box_title .button {
    float: right;
    border: none;
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;
}
.box_type {
    float: right;
}
.box_type ul li {
    display: inline;
    list-style: none;
}
.box_type ul li a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.box_main {
    margin-top: 60px;
    margin-left: 10px;
    width: 86%;
    min-height: 280px;;
    color: black;
    font-family: Arial, Helvetica, sans-serif, '돋움';
    background-color: #f8f8f8;
    padding-right: 10px;
}


.diaryWrap {
    margin-top: 60px;
    margin-left: 10px;
    width: 78%;
    min-height: 280px;;
    color: black;
    font-family: Arial, Helvetica, sans-serif, '돋움';
    background-color: #f8f8f8;
    padding-left: 30px;
    padding-right: 30px;
}
.diaryWrap form {
    display: block;
}
.diarySearch .diaryRight input {
    vertical-align: middle;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb !important;
}
.diarySearch .diaryRight input[type="hidden" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    border: initial;
    display: none;
}
.diarySearch .diaryRight input[type="image" i] {
    cursor: pointer;
    -webkit-appearance: initial;
    background-color: initial;
    border: initial;
}
.diaryWrap .diarySearch {
    padding: 3px 0;
    height: 20px;
}
.diaryWrap .diarySearch, .diaryContent, .diaryPage, .diaryButton {
    clear: both;
    width: 100%;
}
.diaryWrap th, td, select, textarea {
    font-size: 12px;
}
.diaryWrap div{
  font-size: 12px;
}
.diaryWrap input{
  font-size: 12px;
}
.diaryWrap .diaryLeft {
    float: left;
}
.diaryWrap .diaryRight {
    float: right;
}


footer {
    background-color: #ededef;
    border-top: 1px solid;
    clear: both;
    text-align: left;
    width: 100%;
    height: 100px;
}
