.page_main {
    float: left;
    width: 100%;
    background-color: #fff;
}

.top_area {
    margin: 55px 36px 0 36px;
}
.post_type {
    padding: 0 0 10px 0;
}
.post_type .field {
    display: inline flex;
    overflow: hidden;
    padding: 5px 50px 0 50px;
}
.post_type .row {
    width: 60%;
    float: right;
}
.post_type .field .row a {
    float: left;
    width: 25%;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    border-right: solid 1px;
}
.post_type form {
    float: right;
}
.post_type input {
    width: 20em;
}
.post_type form button {
    cursor: pointer;
}


.content-area {
    margin: 0 36px 0 36px;
    border: solid 1px;
}