.left {
    float: left;
}
.right {
    float: right;
}
.font-red{
    color: red;
}
.font-blue{
    color: blue;
}
.active {
    font-weight: bold;
}


body {
    height: 100%;
    width: 100%;
    margin: 0;
}
header {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #efeded;
}
a:webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}


header .main_header {
  width: 75%;
  height: 150px;
  margin: auto;
}
header .logo_box {
    margin: 0 30px 0 30px;
    height: 150px;
    position: relative;
    box-sizing: border-box;
}
.logo_box .logo {
  width: 250px;
  height: 100px;
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 40px;
}
.logo_box img {
}


nav {
    float: right;
    display: block;
    position: relative;
    margin-right: 50px;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 235px 18px 5px 18px;
    text-align: center;
    text-indent: 10px;
    color: #096b9a;
    text-decoration: none;
}
nav a:hover {
    background: #096b9a;
    color: #ffffff;
}


header {
    display: block;
    position: relative;
    overflow: hidden;
}


.aside-left {
    width: 20%;
    height: 100%;
    float: left;
}
.aside-right {
    width: 80%;
    height: 100%;
    float: right;
}


.login_box {
    display: block;
    width: 95%;
    margin: 5px;
    padding: 5px;
    border: solid 1px lightgrey;
    box-sizing: border-box;
    background: white;
}
.login_box a {
    font-family: sans-serif;
    text-decoration: none;
    color: #7d7d7d;
}
.login_box a:hover {
    text-decoration: underline;
}
.login_input {
    margin: 2px;
}
.login_input input {
    width: 100%;
    font-family: sans-serif;
    height: 3em;
    box-sizing: border-box;
}
.login_btn {
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    margin: 5px 0 5px 0;
    color: white;
    background: #096b9a;
    border: none;
    border-radius: 5px;
}
.login_btn:hover {
    cursor: pointer;
    color: #096b9a;
    background: white;
    border: solid 1px #096b9a;
    transition: color .2s, background .2s, border .2s;
}
.search {
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px;
}
.search input {
    width: 80%;
    height: 20px;
    font-size: 12px;
}
.search button {
    height: 20px;
    border: solid 1px;
    font-size: 12px;
    line-height: 13px;
    color: #096b9a;
    text-align: center;
    cursor: pointer;
    align-self: center;
}
.language a {
    font-family: sans-serif;
    text-decoration: none;
    color: grey;
}


.content {
    overflow: hidden;
    box-sizing: content-box;
    padding: 20px 50px 50px 50px;
    background-image: linear-gradient(transparent, transparent), url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    background-color: #f7f5f6;
}


.top-area {
    overflow: hidden;
}
.bottom-area {
    overflow: hidden;
}
.photo {
    float: left;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.galleryContainer {
    width: 100%;
    height: 100%;
    margin: 5px;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    box-sizing: border-box;
}
.galleryContainer .slideShowContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img {
    width: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText {
    display: none;
}
.galleryContainer .slideShowContainer>.captionTextHolder {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText {
    margin: 0;
}
.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow {
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow {
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover {
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow {
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft {
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight {
    transform: rotateZ(45deg);
}


.box{
    float: left;
    display: block;
    width: 30%;
    height: 400px;
    margin: 10px;
    padding: 3px;
    color: #fff;
    background: #e7e7e5;
}
.box_title{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 20px;
    background-color: #096b9a;
  }
.box_title .button {
    float: right;
    border: none;
    font-size: 15px;
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;
}
.box_type {
    float: right;
}
.box_type ul li {
    display: inline;
    list-style: none;
}
.box_type ul li a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.box_main {
    margin-top: 60px;
    margin-left: 10px;
    width: 86%;
    min-height: 280px;;
    color: black;
    font-family: Arial, Helvetica, sans-serif, '돋움';
    background-color: #f8f8f8;
    padding-right: 10px;
}


/* .diaryWrap {
    margin-top: 60px;
    margin-left: 10px;
    width: 78%;
    min-height: 280px;;
    color: black;
    font-family: Arial, Helvetica, sans-serif, '돋움';
    background-color: #f8f8f8;
    padding-left: 30px;
    padding-right: 30px;
}
.diaryWrap form {
    display: block;
}
.diarySearch .diaryRight input {
    vertical-align: middle;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb !important;
}
.diarySearch .diaryRight input[type="hidden" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    border: initial;
    display: none;
}
.diarySearch .diaryRight input[type="image" i] {
    cursor: pointer;
    -webkit-appearance: initial;
    background-color: initial;
    border: initial;
}
.diaryWrap .diarySearch {
    padding: 3px 0;
    height: 20px;
}
.diaryWrap .diarySearch, .diaryContent, .diaryPage, .diaryButton {
    clear: both;
    width: 100%;
}
.diaryWrap th, td, select, textarea {
    font-size: 12px;
}
.diaryWrap div{
  font-size: 12px;
}
.diaryWrap input{
  font-size: 12px;
}
.diaryWrap .diaryLeft {
    float: left;
}
.diaryWrap .diaryRight {
    float: right;
} */


footer {
    background-color: #ededef;
    border-top: 1px solid;
    clear: both;
    text-align: left;
    width: 100%;
    height: 100px;
    padding: 10px;
}
